.card{
  border:1px solid black;
  width: 250px;
  height: 350px;

  display: flex;
  flex-direction: column;
  background-color: #232323;
  border-radius: 10px;
}

.card__title{
  margin-left: auto;
  margin-right: auto;
}

.card__title > h3{
  color: white;
}

.card__body{
  background-color: #616161;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 70%;
}

.card__stats{
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card__stats__type{
  color: rgb(0, 0, 0);
  font-weight: bold;

  background-color: coral ;
  border-radius: 5px;

  padding: 5px;
  margin-right: 4px;
}

.card__body{
  display: flex;
  align-items: center;
  justify-content: center;
}
