

<div class="card">

  <input type="text" (input)="getPokemon($any($event.target).value)" >

  <div class="card__title">
    <h3> {{ pokemon.name | transformador: 'felipe':'123'  }} </h3>
  </div>

  <div class="card__body">
    <img [src]="pokemon.sprites.front_default" height="150" alt="pokemon" srcset="">
  </div>

  <div class="card__stats">
    <span
      class="card__stats__type"
      *ngFor="let t of pokemon.types"
    >
      {{ t.type.name | uppercase | lowercase }}
    </span>
  </div>

</div>
